name: Playwright + Percy Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout your repo
      - uses: actions/checkout@v4

      # Step 2: Set up Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      # Step 3: Install dependencies
      - name: Install dependencies
        run: npm ci

      # Step 4: Install Playwright browsers
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      # Step 5: Run Percy + Playwright tests
      - name: Run Percy Visual Tests
        env:
          PERCY_TOKEN: ${{ secrets.web_6a87dd283c51c7b04fb29157169426f3aee612911c9c07c555a0ca85e71fa097}}
        run: npx percy exec -- npx playwright test

      # Step 6: Upload Playwright HTML report
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
